// ---- Fonts ----
$font: 'Circe', sans-serif;

// ---- Colors ----
$white: #ffffff;
$black: #000000;
$blue: #0e65dd;
$gray: #77889c;
$yellow: #ffd740;
$bg: #f1f6fd;
$red: #bd081c;
$red2: rgba($red, 0.5);